<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<%= render :partial=>'header' %>
<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, params.merge({:format => 'atom', :page => nil, :key => User.current.rss_key})) %>
<% end %>

<h2><%= h(feeling_list(@option)) %> </h2>
<p align="right"><%= link_to_feeling_list() %></p>

<% @feelings.each do |feeling| %>
  <%= render :partial=>'show', :locals=>{:feeling=>feeling, :preview=>false} %>
<% end %>

<p class="pagination"><%= pagination_links_full @feeling_pages %></p>


<% other_formats_links do |f| %>
	<%= f.link_to 'Atom', :url => atom_conditions(@option) %>
<% end %>
