<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<%= render :partial=>'header' %>

<h3><%= l(:label_niko_cale_how_do_you_feel) %> (<%= h(format_date(@feeling.at)) %>)</h3>
<% project_id = @project && @project.identifier %>
<% if @feeling.new_record? %>
  <% option = {:url=>{:action=>:create, :project_id=>project_id}, :html=>{:method=>:post, :id=>:update_feeling}} %>
  <% @feeling.good %>
<% else %>
  <% option = {:url=>{:action=>:update, :project_id=>project_id}, :html=>{:method=>:put, :id=>:update_feeling}} %>
<% end %>
<% form_for(:feeling, option) do |f| %>
   <%= f.hidden_field :at %>
   <table border="0">
     <tr>
       <td><%= good_image(l(:label_niko_cale_good), "document.forms.update_feeling.feeling_level_2.click()", "cursor: pointer;") %></td>
       <td><%= ordinary_image(l(:label_niko_cale_ordinary), "document.forms.update_feeling.feeling_level_1.click()", "cursor: pointer;") %></td>
       <td><%= bad_image(l(:label_niko_cale_bad), "document.forms.update_feeling.feeling_level_0.click()", "cursor: pointer;") %></td>
     </tr>
     <tr>
       <td><%= f.radio_button(:level, 2, {:onclick=>"document.forms.update_feeling.description.focus()"}) %></td>
       <td><%= f.radio_button(:level, 1, {:onclick=>"document.forms.update_feeling.description.focus()"}) %></td>
       <td><%= f.radio_button(:level, 0, {:onclick=>"document.forms.update_feeling.description.focus()"}) %></td>
     </tr>
  </table>
  <p><%= l(:label_optional_description) %><br>
  <p><%= f.text_area :description, :cols=>48, :rows=>3 %></p>
  <%= submit_tag l(:button_save), :class => 'button-small', :name => nil %>
  <% option = @feeling.new_record? ? {:url => {:action=>:create}, :method=>:post} : {:url => feeling_path(@feeling)} %>
  <% option.merge! :update => :preview, :with => "Form.serialize('update_feeling')" %>
  <%= link_to_remote l(:label_preview), option %>
<% end %>
<div id="preview"></div>
