<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<div id="niko_niko_calender" style="overflow-x:auto">
<table border="1">
  <tr>
    <th rowspan="2" nowrap width="10%">
      <%= previous_image(l(:label_previous), 'document.forms["scope"].date_scope.value = "' + (@dates.first - 1).to_s + '"') %>
      <%= next_image(l(:label_next), 'document.forms["scope"].date_scope.value = "' + (@dates.last + @dates.size).to_s + '"') %>
    </th>
    <% @dates.each do |date| %>
      <th><p align="center">
      <%= link_to(format_date_with_color(date), :controller=>:projects, :action=>:activity, :id=>@project, :from=>date) %>
      </th>
    <% end %>
  </tr>
  <tr>
    <th colspan="14">a</th>
  </tr>
  <% @users.each do |user| %>
  <tr> 
    <td nowrap bgcolor=<%=light_yellow%>>
       <p align="center"><%= link_to_feeling_list(:user=>user, :title=>user.name) %></p>
       <p align="center"><%= link_to_issues_list "(#{@issues_count_per_user[user]})", user.id %></p>
    </td> 
    <% @dates.each do |date| %>
      <% feeling = @feelings_per_user[user].find {|feeling| feeling.at == date} %>
      <td bgcolor=<%= (date == Date.today) ? pink : "" %>>
	<p align="center">
	  <% if feeling.nil? && editable?(Feeling.for(user, date)) %>
	    <%= link_to add_image, {:controller=>:feelings, :action=>:edit, :date=>date, :project_id=>@project.id} %>
	  <% else %>
            <%= link_to_feeling(feeling, @project.id) %>
	  <% end %>
      </td>
      <% end %>
  </tr> 
  <% end %>
  <% unless @morales.empty? %>
  <tr>
    <td bgcolor=<%=gray%>><p align="center"><%= link_to_feeling_list(:project=>@project, :title=>@project.name) %>
    <br><%= link_to_issues_list "(#{@issues_count_per_user[:morale]})", nil %><br></td> 
    <% @dates.each do |date| %>
      <% morale = @morales.find {|m| m.at == date} %>
      <td bgcolor=<%=gray%>><p align="center"><%= image_for(morale) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
</div>
