<div id="niko_niko_calender">
<table border="1">
  <tr>
   <th bgcolor=<%= light_blue %>><p align="center"><font color=black><%= l(:label_member) %><br>(<%= l(:label_niko_cale_issues_count) %>)</font><br></td>
   <% @dates.each do |date| %>
     <th bgcolor=<%= light_blue %>><p align="center"><%= format_date(date) %></td>
   <% end %>
  </tr>
  <% @users.each do |user| %>
  <tr> 
    <td bgcolor=<%=light_yellow%>><p align="center"><%= link_to_user user %><br><font color=black>(<%= @issues_count_per_user[user] %>)</font><br></td> 
    <% @dates.each do |date| %>
      <% feeling = @feelings_per_user[user].find {|feeling| feeling.at == date} %>
      <td bgcolor=<%= ((User.current == user) && (date == Date.today)) ? pink : "" %>><p align="center"><%= image_for(feeling) %></td>
    <% end %>
  </tr> 
  <% end %>
  <% unless @morales.empty? %>
  <tr>
    <td bgcolor=<%=gray%>><p align="center"><font color=black><%= l(:label_niko_cale_morale) %><br>(<%= @issues_count_per_user[:morale] %>)</font><br></td> 
    <% @dates.each do |date| %>
      <% morale = @morales.find {|m| m.at == date} %>
      <td bgcolor=<%=gray%>><p align="center"><%= image_for(morale) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
</div>
