<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>


<%= stylesheet_link_tag "niko_cale.css", :plugin => "redmine_niko_cale", :media => "screen" %>
<% content_for :sidebar do %>
  <% if @feeling_submittable %>
    <h3><%= l(:label_niko_cale_how_do_you_feel_today) %></h3>
    <% form_tag({:action=>:submit_feeling, :controller=>:niko_cale}, {:method=>:put}) do %>
        <%= hidden_field_tag 'project_id', @project.id %>
	<%= l(:label_niko_cale_comment) %><br>
        <%= text_field_tag :comment, "", :size=>"24"  %><br>
        <table border="0">
        <tr>
          <td><%= good_image %></td><td><%= radio_button_tag "level", 2, false %></td>
        </tr>
        <tr>
          <td><%= ordinary_image %></td><td><%= radio_button_tag "level", 1, true  %></td>
        </tr>
        <tr>
          <td><%= bad_image %></td><td><%= radio_button_tag "level", 0, false %></td>
        </tr>
	</table>
        <p><%= submit_tag l(:label_niko_cale_submit), :class => 'button-small', :name => nil %></p>
    <% end %>
  <% end %>

  <% form_tag({}, {:method => :get}) do %>
  <h3><%= l(:label_niko_cale_scope) %></h3>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= @dates.first %> -
    <%= text_field_tag :date_scope, @dates.last, :size=>'10' %>
    <br>
    <%= calendar_for("date_scope") %>
    <%=l(:label_niko_cale_date_scope)%>
    <br><br>
    <% @givable_roles.each do |role| %>
      <label><%= check_box_tag "role_ids[]", role.id, (@selected_role_ids.include? role.id), :id => nil %>
      <%=h role.name %></label><br />
    <% end %>
    <% if @project.descendants.active.any? %>
      <%= hidden_field_tag 'with_subprojects', 0 %>
      <label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_niko_cale_show_subprojects_members)%></label>
    <% end %>
    <p><%= submit_tag l(:label_niko_cale_apply), :class => 'button-small', :name => nil %></p>
  <% end %>
<% end %>


<h2><%= l(:label_niko_niko_calender) %></h2>

<table border="1">
  <tr>
   <th bgcolor = "#CAE5F1"><p align="center"></td>
   <% @dates.each do |date| %>
     <th bgcolor=<%= (date == Date.today) ? '"#87CEFA"' : '"#CAE5F1"' %>><p align="center"><b><%= format_date(date) %></b></td>
   <% end %>
  </tr>
  <tr>
  <% unless @moods.empty? %>
    <td bgcolor="#C4CACC"><p align="center"><b><%= l(:label_niko_cale_mood) %></b></td> 
    <% @dates.each do |date| %>
      <% mood = @moods.find {|m| m.at == date} %>
      <% image = mood.good? ? good_image : (mood.ordinary? ? ordinary_image : (mood.bad? ? bad_image : null_image)) %>
        <td><p align="center"><i><b><%= image %></b></i></td>
    <% end %>
  <% end %>
  </tr>
  <% @users.each do |user| %>
  <tr> 
    <td bgcolor="#F4FAFC"><p align="center"><b><%= link_to_user user %></b></td> 
    <% @dates.each do |date| %>
      <% feeling = @feelings_per_user[user].find {|feeling| feeling.at == date} %>
      <% image = feeling ? (feeling.good? ? good_image(feeling.comment) : (feeling.bad? ? bad_image(feeling.comment) : ordinary_image(feeling.comment))) : null_image %>
      <td><p align="center"><i><b><%= image %></b></i></td>
    <% end %>
  </tr> 
 <% end %>
</table>






