<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "niko_cale.css", :plugin => "redmine_niko_cale", :media => "screen" %>
  <%= javascript_include_tag "bubble-tooltip.js", :plugin => "redmine_niko_cale" %>
  <%= transparent_png_patch_include_tag %>
<% end %>
<% content_for :sidebar do %>
  <% form_tag({:action=>"index"}, {:method=>:get, :id=>"scope"}) do %>
  <h3><%= l(:label_display) %></h3>
    <%= hidden_field_tag 'project_id', @project.id %>
    <% @givable_roles.each do |role| %>
      <label><%= check_box_tag "role_ids[]", role.id, (@selected_role_ids.include? role.id), :id => nil %>
      <%= h(role.name) %></label><br />
    <% end %>
    <% if @project.descendants.active.any? %>
      <%= hidden_field_tag 'with_subprojects', 0 %>
      <label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural) %></label>
    <% end %>
    <p>
    <%= hidden_field_tag :date_scope, @dates.last, :size=>'10' %>
    <%= calendar_for("date_scope") %>
    <%=l(:label_date)%>
    </p>
  <% end %>
  <%= observe_form("scope", {:frequency=>0.5, :update=>"niko_niko_calender",  :url=>{:action=>"index"}, :method=>:get})  %>
<% end %>

<div id="bubble_tooltip">
	<div class="bubble_top"><span></span></div>
	<div class="bubble_middle"><span id="bubble_tooltip_content">Content is comming here as you probably can see.Content is comming here as you probably can see.</span></div>
	<div class="bubble_bottom"></div>
</div>

<h2><%= l(:label_niko_niko_calender) %></h2>
<%= render :partial=>'show' %>





