<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "niko_cale.css", :plugin => "redmine_niko_cale", :media => "screen" %>
  <%= javascript_include_tag "bubble-tooltip.js", :plugin => "redmine_niko_cale" %>
<% end %>
<% content_for :sidebar do %>
  <% if @feeling_submittable %>
    <h3><%= l(:label_niko_cale_how_do_you_feel_today) %></h3>
    <% form_tag({:action=>:submit_feeling, :controller=>:niko_cale}, {:name=>:submit_feeling, :method=>:put}) do %>
        <%= hidden_field_tag 'project_id', @project.id %>
        <table border="0">
        <tr>
          <td><%= good_image(l(:label_niko_cale_good), "document.forms.submit_feeling.level[0].click()") %></td>
	  <td><%= radio_button_tag("level", 2, @todays_feeling.level ? @todays_feeling.good? : true, {:onclick=>"document.forms.submit_feeling.comment.focus()"}) %></td>
        </tr>
        <tr>
          <td><%= ordinary_image(l(:label_niko_cale_ordinary), "document.forms.submit_feeling.level[1].click()") %></td>
	  <td><%= radio_button_tag("level", 1, @todays_feeling.ordinary?, {:onclick=>"document.forms.submit_feeling.comment.focus()"})  %></td>
        </tr>
        <tr>
          <td><%= bad_image(l(:label_niko_cale_bad), "document.forms.submit_feeling.level[2].click()") %></td>
	  <td><%= radio_button_tag("level", 0, @todays_feeling.bad?, {:onclick=>"document.forms.submit_feeling.comment.focus()"}) %></td>
        </tr>
	</table>
        <%= l(:label_niko_cale_comment) %><br>
	<%= text_field_tag :comment, "", :size=>"18"  %>
        <%= submit_tag l(:label_niko_cale_submit), :class => 'button-small', :name => nil %>
    <% end %>
  <% end %>

  <% form_tag({}, {:method => :get}) do %>
  <h3><%= l(:label_niko_cale_scope) %></h3>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= @dates.first %> -
    <%= text_field_tag :date_scope, @dates.last, :size=>'10' %>
    <br>
    <%= calendar_for("date_scope") %>
    <%=l(:label_niko_cale_date_scope)%>
    <br><br>
    <% @givable_roles.each do |role| %>
      <label><%= check_box_tag "role_ids[]", role.id, (@selected_role_ids.include? role.id), :id => nil %>
      <%=h role.name %></label><br />
    <% end %>
    <% if @project.descendants.active.any? %>
      <%= hidden_field_tag 'with_subprojects', 0 %>
      <label><%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_niko_cale_show_subprojects_members)%></label>
    <% end %>
    <p><%= submit_tag l(:label_niko_cale_apply), :class => 'button-small', :name => nil %></p>
  <% end %>
<% end %>


<div id="bubble_tooltip">
	<div class="bubble_top"><span></span></div>
	<div class="bubble_middle"><span id="bubble_tooltip_content">Content is comming here as you probably can see.Content is comming here as you probably can see.</span></div>
	<div class="bubble_bottom"></div>
</div>

<h2><%= l(:label_niko_niko_calender) %></h2>

<div id="niko_niko_calender">
<table border="1">
  <tr>
   <th bgcolor=<%= light_blue %>><p align="center"><font color=black><%= l(:label_member) %><br>(<%= l(:label_niko_cale_issues_count) %>)</font><br></td>
   <% @dates.each do |date| %>
     <th bgcolor=<%= (date == Date.today) ? blue : light_blue %>><p align="center"><%= format_date(date) %></td>
   <% end %>
  </tr>
  <% @users.each do |user| %>
  <tr> 
    <td bgcolor=<%=light_yellow%>><p align="center"><%= link_to_user user %><br><font color=black>(<%= @issues_count_per_user[user] %>)</font><br></td> 
    <% @dates.each do |date| %>
      <% feeling = @feelings_per_user[user].find {|feeling| feeling.at == date} %>
      <td><p align="center"><%= image_for(feeling) %></td>
    <% end %>
  </tr> 
  <% end %>
  <% unless @morales.empty? %>
  <tr>
    <td bgcolor=<%=gray%>><p align="center"><font color=black><%= l(:label_niko_cale_morale) %><br>(<%= @issues_count_per_user[:morale] %>)</font><br></td> 
    <% @dates.each do |date| %>
      <% morale = @morales.find {|m| m.at == date} %>
      <td bgcolor=<%=gray%>><p align="center"><%= image_for(morale) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
</div>





