<%
# Niko-cale plugin for Redmine
# Copyright (C) 2010  Yuki Kita
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<p><label>
<%= l(:label_niko_cale_retention_period) %>
<% months = lambda {|m| [time_ago_in_words(m.months.from_now), m.to_s]} %>
<%= select_tag 'settings[retention_period]', 
options_for_select([[l(:label_all_time), "0"], months[3], months[6], months[9], months[12], months[24], months[36], months[48], months[60]],
    @settings["retention_period"]) %>
</label></p>

<p><label>
<%= l(:label_niko_cale_editable_period) %>
<% days = lambda {|d| [time_ago_in_words(d.days.from_now), d.to_s]} %>
<%= select_tag 'settings[editable_period]', 
options_for_select([[l(:label_all_time), "0"], days[1], days[2], days[3], days[4], days[5], days[6], days[7]],
    @settings["editable_period"]) %>
</label></p>

<div id="legend" style="float:right;">
  <%= render :partial=>'legend.html.erb', :locals=>{:face_images=>@settings["face_images"]} %>
</div>

<% face_images_list =Dir[File.dirname(__FILE__).gsub(/app\/views\/settings/,"") + "assets/images/faces/*"].select do |f|
     File.directory?(f) end.map {|dir| f=File.basename(dir); [f, f]} %>
<p><label>
<%= l(:label_niko_cale_face_images) %>
<%= select_tag 'settings[face_images]', options_for_select(face_images_list,  @settings["face_images"]) %>
</label></p>

<%= observe_field 'settings_face_images', :url=>{:controller=>:niko_cale_settings, :action=>:preview},
                  :with=>'face_images', :frequency=>0.5, :update=>'legend' %>
